<div class="cars-container">
  

  <hr />

  <h3>Cars</h3>
  @if (isLoading()) {
  <p>Loading cars...</p>
  } @else if (errorMessage()) {
  <p class="error">{{errorMessage()}}</p>
  } @else if (cars().length > 0) {
  <!-- card grid instead of list -->
  <div class="card-grid">
    @for (car of pagedCars(); track car.id) {
    <div class="car-card">
      <div class="card-content">
        <h4>{{car.make}} {{car.model}}</h4>
        <p class="year">{{car.year}}</p>
      </div>
      <div class="button-group">
        <button (click)="editCar(car)">Edit</button>
        <button (click)="deleteCar(car.id)">Delete</button>
      </div>
    </div>
    }
  </div>
   <div class="pagination">
      <button (click)="previousPage()" [disabled]="currentPage() === 1">
        Previous
      </button>

      <span class="pagination_numbers"> Page {{ currentPage() }} of {{ totalPages() }} </span>

      <button (click)="nextPage()" [disabled]="currentPage() === totalPages()">
        Next
      </button>
    </div>
  } @else {
  <p>No cars found.</p>
  }
 
  <hr />

  @if(editingCar){
  <h3>Edit Car</h3>

  <form (ngSubmit)="saveCar()">
    <input
      type="text"
      placeholder="Make"
      [(ngModel)]="editingCar.make"
      name="editMake"
      required
    />

    <input
      type="text"
      placeholder="Model"
      [(ngModel)]="editingCar.model"
      name="model"
      required
    />

    <input
      type="number"
      placeholder="Year"
      [(ngModel)]="editingCar.year"
      name="Year"
      required
    />

    <input
      type="number"
      placeholder="Price"
      [(ngModel)]="editingCar.price"
      name="Price"
      required
    />

    <button type="submit">Save</button>
    <button type="button" (click)="editingCar = null">Cancel</button>
  </form>
  }

  <h3>Search Car By ID</h3>

  <!-- <form (ngSubmit)="findCarById()">

    <input type="number" placeholder="Id" 
    [(ngModel)]="newCar.make" name="make" required/>

    <button type="submit">Find</button>

</form> -->
</div>
